<h2>Filtered Data</h2>
<table align="center" border="1">
    <tr>
        <th>SensorID</th>
        <th>SensorType</th>
        <th>Unit</th>
        <th>DataTime</th>
        <th>Value</th>
    </tr>
    @foreach (var s in @ViewBag.json_response)
    {
        <tr>
            <th>@s.sensorId</th>
            <th>@s.sensorType</th>
            <th>@s.unit</th>
            <th>@s.dateTime</th>
            <th>@s.value</th>
        </tr>
    }
</table>