@model FilterJsonForm

<h3>Get JSON</h3>
@using (Html.BeginForm(actionName: "GetJson", "Filter", method: FormMethod.Get, new { target = "_blank" }))
{
    <div>
        @Html.ValidationSummary()
    </div>
    
    <div>
        <p style="color: red;">@Html.ValidationMessageFor(x => x.sensorId)</p>
        <p>@Html.LabelFor(x => x.sensorId)
            @Html.TextBoxFor(x => x.sensorId)</p>
    </div>
    
    <div>
        <p style="color: red;">@Html.ValidationMessageFor(x => x.sensorType)</p>
        <p>@Html.LabelFor(x => x.sensorType)
            @Html.TextBoxFor(x => x.sensorType)</p>
    </div>
    
    <div>
        <p style="color: red;">@Html.ValidationMessageFor(x => x.startDatetime)</p>
        <p>@Html.LabelFor(x => x.startDatetime)
            @Html.EditorFor(x => x.startDatetime)</p>
    </div>
    <input type="submit" value="Get"/>
}   @* </form> *@