@{
    ViewData["Title"] = "Pulpit Page";
}
<h2>Solar Radiation</h2>
<p>Last value: @ViewBag.solar_last</p>
<p>Mean value: @ViewBag.solar_mean</p>

<h2>Humidity</h2>
<p>Last value: @ViewBag.humitidy_last</p>
<p>Mean value: @ViewBag.humitidy_mean</p>

<h2>Carbon Dioxide</h2>
<p>Last value: @ViewBag.carbon_last</p>
<p>Mean value: @ViewBag.carbon_mean</p>

<h2>Temperature</h2>
<p>Last value: @ViewBag.temperature_last</p>
<p>Mean value: @ViewBag.temperature_mean</p>