<h2>Data</h2>
<table align="center" border="1">
    <tr>
        <th>@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new {page = @ViewBag.currentPage, sortBy = "SensorId"},  FormMethod.Get ))
            {
                <input id="sortBy" value="SensorId" type="hidden" />
                <input type="submit" value="SensorId"/>
            } </th>
        <th>@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new {page = @ViewBag.currentPage, sortBy = "SensorType"},  FormMethod.Get ))
            {
                <input type="submit" value="SensorType"/>
            }</th>
        <th>@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new { page = @ViewBag.currentPage, sortBy = "Unit"},  FormMethod.Get ))
            {
                <input type="submit" value="Unit"/>
            }</th>
        <th>@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new {page = @ViewBag.currentPage, sortBy = "DataTime"},  FormMethod.Get ))
            {
                <input type="submit" value="DataTime"/>
            }</th>
        <th>@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new { page = @ViewBag.currentPage, sortBy = "Value"},  FormMethod.Get ))
            {
                <input type="submit" value="Value"/>
            }</th>
    </tr>
    @foreach (var s in @ViewBag.json_response)
    {
        <tr>
            <th>@s.sensorId</th>
            <th>@s.sensorType</th>
            <th>@s.unit</th>
            <th>@s.dateTime</th>
            <th>@s.value</th>
        </tr>
    }
</table>
Page: @ViewBag.currentPage
@if (@ViewBag.currentPage > 1)
{

    @using (Html.BeginForm(actionName: "GetTablePage", "Home", new { page = @ViewBag.currentPage - 1, sortBy = @ViewBag.currentsort}, FormMethod.Get))
    {
        <input type="submit" value="Previous"/>
    }
}
@using (Html.BeginForm(actionName: "GetTablePage",  "Home",new {page = @ViewBag.currentPage + 1, sortBy = @ViewBag.currentsort},  FormMethod.Get ))
{
<input type="submit" value="Next"/>
}