@model FilterTableForm

<h2>Data</h2>

<form action="/@ViewBag.currentsort/@ViewBag.currentPage?" method="post">

    
    <div>
        <p>@Html.LabelFor(x => x.sensorId)
        @Html.TextBoxFor(x => x.sensorId)</p>
    </div>
    
    <div>

        <p>@Html.LabelFor(x => x.sensorType)
        @Html.TextBoxFor(x => x.sensorType)</p>
    </div>
    
    <div>

        <p>@Html.LabelFor(x => x.dateTime)
        @Html.EditorFor(x => x.dateTime)</p>
    </div>
        

                                            
    <input type="submit" value="Set Filters"/>
</form> 

<table align="center" border="1">
    <tr>
        <th>
            <form action="/SensorId/@ViewBag.currentPage?" method="get" data-id="something">
                <input type="hidden" name="sensorId" value="@ViewBag.sensorId" />
                <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
                <input type="hidden" name="dateTime" value="@ViewBag.dateTime" />
                <input type="submit" value="SensorId"/>
            </form>
        </th>
        <th>
            <form action="/SensorType/@ViewBag.currentPage?" method="get" data-id="something">
                <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
                <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
                <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
                <input type="submit" value="SensorType"/>
            </form>
        </th>
        <th>
            <form action="/Unit/@ViewBag.currentPage?" method="get" data-id="something">
                <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
                <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
                <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
                <input type="submit" value="Unit"/>
            </form>
        </th>
        <th>
            <form action="/DataType/@ViewBag.currentPage?" method="get" data-id="something">
                <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
                <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
                <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
                <input type="submit" value="DataType"/>
            </form>
        </th>
        <th>
            <form action="/Value/@ViewBag.currentPage?" method="get" data-id="something">
                <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
                <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
                <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
                <input type="submit" value="Value"/>
            </form>
        </th>
    </tr>
    @foreach (var s in @ViewBag.json_response)
    {
        <tr>
            <th>@s.sensorId</th>
            <th>@s.sensorType</th>
            <th>@s.unit</th>
            <th>@s.dateTime</th>
            <th>@s.value</th>
        </tr>
    }
</table>
Page: @ViewBag.currentPage
@if (@ViewBag.currentPage > 1)
{

    <form action="/@ViewBag.currentsort/@(@ViewBag.currentPage-1)?" method="get" data-id="something">
        <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
        <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
        <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
        <input type="submit" value="Previous"/>
    </form>
}
<form action="/@ViewBag.currentsort/@(@ViewBag.currentPage+1)?" method="get" data-id="something">
    <input type="hidden" name="sensorId" value="@ViewBag.sensorId"/>
    <input type="hidden" name="sensorType" value="@ViewBag.sensorType"/>
    <input type="hidden" name="dateTime" value="@ViewBag.dateTime"/>
    <input type="submit" value="Next"/>
</form>